@import "bootstrap/scss/bootstrap";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

html, body, #root {
  height: 100%;
}

.split {
  display: flex;
  flex-direction: row;
}

.gutter {
  background-color: $dark;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  // background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}

.gutter.gutter-disabled {
  pointer-events: none;
}

.btn-element {
  @include button-variant($light, $dark, color-contrast($light), $dark);
}

.btn-no-outline {
  @include button-variant($light, $light, color-contrast($light), $light);
}

.btn-heart {
  @include button-variant($light, $light, color-contrast($light), $light, $light, $danger);
}

.btn-info {
  @include button-variant($light, $light, color-contrast($light), $light, $light, $primary);
}
