@include color-mode(dark) {
    .gutter {
        background-color: $light;
        background-repeat: no-repeat;
        background-position: 50%;
    }

    .btn-element {
        @include button-variant($dark, $light, color-contrast($dark), $light, $light, $dark, $light);
        border-radius: $btn-border-radius
    }

    .side-container {
        background-color: $dark;
    }

    .side-container .is-over {
        background-color: mix($dark, $danger, 20%);
    }

    .btn-no-outline {
        @include button-variant($transparent, $transparent, color-contrast($dark), $transparent, $transparent, color-contrast($dark));
    }
    
    .btn-heart {
        @include button-variant($transparent, $transparent, color-contrast($dark), $transparent, $transparent, $danger);
    }
    
    .btn-info {
        @include button-variant($transparent, $transparent, color-contrast($dark), $transparent, $transparent, $primary);
    }

    .btn-left-hover {
        background: $transparent;
        background-size: 210% 100%;
        background-position: right bottom; 
        transition: all 0.3s ease-out;
    }
    
    .btn-left-hover:hover, .btn-left-hover:active  {
        background: linear-gradient(to right, $light 50%, $dark 50%);
        background-size: 210% 100%;
        background-position: left bottom;
    }

    .btn-right-hover {
        background: $transparent;
        background-size: 210% 100%;
        background-position: left bottom; 
        transition: all 0.3s ease-in-out;
    }
    
    .btn-right-hover:hover, .btn-right-hover:active  {
        background: linear-gradient(to left, $light 50%, $dark 50%);
        background-size: 210% 100%;
        background-position: right bottom;
    }

    .side-container .footer {
        border-top-color: $light;
    }
}
