@use "sass:map";
@import "../../node_modules/bootstrap/scss/functions";
@import "./variables.scss";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";
@import "./utilities.scss";

@import "../../node_modules/bootstrap/scss/bootstrap";

@import "./dark.scss";

html, body, #root {
  height: 100%;
}

.split {
  display: flex;
  flex-direction: row;
}

.gutter {
  background-color: $dark;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  // background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
  z-index: map.get($zindex-levels, 'side')
}

.gutter.gutter-disabled {
  pointer-events: none;
}

.btn-element {
  @include button-variant($light, $dark, color-contrast($light), $dark, $dark, $light, $dark);
  border-radius: $btn-border-radius
}

.side-container {
    background-color: $light;
}

.side-container .is-over {
    background-color: mix($light, $danger, 20%);
}

.btn-element.holo {
    --#{$prefix}btn-hover-bg: #{$dark};
    --#{$prefix}btn-hover-color: #{$dark};
    --#{$prefix}btn-active-color: #{$dark};
}

.btn-element.holo:hover {
    background-color: var(--#{$prefix}-btn-hover-bg);
}

.btn-element .btn-holder {
  background-color: $dark;
}

.btn-element:hover .btn-holder {
  background-color: $light;
}

.btn-element .btn-holder,
.btn-element .glare,
.btn-element .shine,
.btn-element .holder {
  border-radius: $btn-border-radius
}

.btn-no-outline {
  @include button-variant($transparent, $transparent, color-contrast($light), $transparent, $transparent, color-contrast($light));
}

.btn-heart {
  @include button-variant($transparent, $transparent, color-contrast($light), $transparent, $transparent, $danger);
}

.btn-info {
  @include button-variant($transparent, $transparent, color-contrast($light), $transparent, $transparent, $primary);
}

.btn-offline {
  @include button-variant($transparent, $transparent, $danger, $transparent, $transparent, $danger);
}

.btn.btn-no-radius {
    border-radius: 0
}

.btn-left-hover {
    background: $transparent;
    background-size: 210% 100%;
    background-position: right bottom; 
    transition: all 0.3s ease-out;
}

.btn-left-hover:hover, .btn-left-hover:active  {
    color: $light;
    background: linear-gradient(to right, $dark 50%, $light 50%);
    background-size: 210% 100%;
    background-position: left bottom;
}

.btn-right-hover {
    background: $transparent;
    background-size: 210% 100%;
    background-position: left bottom; 
    transition: all 0.3s ease-out;
}

.btn-right-hover:hover, .btn-right-hover:active {
    color: $light;
    background: linear-gradient(to left, $dark 50%, $light 50%);
    background-size: 210% 100%;
    background-position: right bottom;
}

.side-container .footer {
    border-top-color: $dark;
    border-top-style: solid;
    border-top-width: 2px;
}

@keyframes spin {
    from {transform: translate(-50%, -50%) rotate(0);}
    to   {transform: translate(-50%, -50%) rotate(360deg);}
}

.highlight {
    --border-radius: 1rem;
    //--border-size: 0.5rem;
    --border-bg: conic-gradient(red, yellow, lime, aqua, blue, magenta, red);
    //--padding: 1rem;
    
    //position: relative;
    //overflow: hidden;
    //font-size: 2rem;
    //padding: calc(var(--padding) + var(--border-size));
    border-radius: var(--border-radius);
    //display: inline-block;
    
    &::before {
      content: '';
      display: block;
      background: var(--border-bg);
      width: calc(100% * 1.41421356237);
      padding-bottom: calc(100% * 1.41421356237);
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 100%;
      z-index: -2;
      animation: spin 5s linear infinite;
    }
    &--reverse::before{
      animation-direction: reverse;
    }
    &::after{
      content: '';
      position: absolute;
      inset: var(--border-size);
      background: white;
      z-index: -1;
      border-radius: calc(var(--border-radius) - var(--border-size));
    }
}
  /* ---------- End .rotating-border ---------- */
  
  /* ---------- Begin customizing .rotating-border ---------- */
.rotating-border--google {
    --border-radius: 0.5rem;
    --border-size: 0.25rem;
    --border-bg: conic-gradient(
      #ea4335 0.0turn 0.125turn, 
      #4285f4 0.125turn 0.25turn, 
      #fbbc05 0.25turn 0.375turn, 
      #34a853 0.375turn 0.5turn, 
      #ea4335 0.5turn 0.625turn, 
      #4285f4 0.625turn 0.75turn, 
      #fbbc05 0.75turn 0.875turn, 
      #34a853 0.875turn 1.0turn
    );
    
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 2;
}
.rotating-border--rainbow{
    --border-radius: 1.5rem;
    --border-size: 0.5rem;
    --border-bg: conic-gradient(red, yellow, lime, aqua, blue, magenta, red);
}
.highlight-black-white{
    //--border-radius: 100%;
    //--border-size: 0.6rem;var(--light-color)
    --light-color: #{$light};
    --dark-color: #00000000;
    --border-bg: conic-gradient(
      var(--light-color) 0.00turn 0.05turn, 
      var(--dark-color) 0.05turn 0.10turn, 
      var(--light-color) 0.10turn 0.15turn, 
      var(--dark-color) 0.15turn 0.20turn, 
      var(--light-color) 0.20turn 0.25turn, 
      var(--dark-color) 0.25turn 0.30turn, 
      var(--light-color) 0.30turn 0.35turn, 
      var(--dark-color) 0.35turn 0.40turn, 
      var(--light-color) 0.40turn 0.45turn, 
      var(--dark-color) 0.45turn 0.50turn, 
      var(--light-color) 0.50turn 0.55turn, 
      var(--dark-color) 0.55turn 0.60turn, 
      var(--light-color) 0.60turn 0.65turn, 
      var(--dark-color) 0.65turn 0.70turn, 
      var(--light-color) 0.70turn 0.75turn, 
      var(--dark-color) 0.75turn 0.80turn, 
      var(--light-color) 0.80turn 0.85turn, 
      var(--dark-color) 0.85turn 0.90turn, 
      var(--light-color) 0.90turn 0.95turn,
      var(--dark-color) 0.95turn 1.00turn
    );
    //--border-bg: conic-gradient(
    //  #ffffff 0.00turn 0.05turn, 
    //  #000000 0.05turn 0.10turn, 
    //  #ffffff 0.10turn 0.15turn, 
    //  #000000 0.15turn 0.20turn, 
    //  #ffffff 0.20turn 0.25turn, 
    //  #000000 0.25turn 0.30turn, 
    //  #ffffff 0.30turn 0.35turn, 
    //  #000000 0.35turn 0.40turn, 
    //  #ffffff 0.40turn 0.45turn, 
    //  #000000 0.45turn 0.50turn, 
    //  #ffffff 0.50turn 0.55turn, 
    //  #000000 0.55turn 0.60turn, 
    //  #ffffff 0.60turn 0.65turn, 
    //  #000000 0.65turn 0.70turn, 
    //  #ffffff 0.70turn 0.75turn, 
    //  #000000 0.75turn 0.80turn, 
    //  #ffffff 0.80turn 0.85turn, 
    //  #000000 0.85turn 0.90turn, 
    //  #ffffff 0.90turn 0.95turn,
    //  #000000 0.95turn 1.00turn
    //);
    // --border-bg: conic-gradient(
    //   $light 0.00turn 0.05turn, 
    //   #000000 0.05turn 0.10turn, 
    //   $light 0.10turn 0.15turn, 
    //   #000000 0.15turn 0.20turn, 
    //   $light 0.20turn 0.25turn, 
    //   #000000 0.25turn 0.30turn, 
    //   $light 0.30turn 0.35turn, 
    //   #000000 0.35turn 0.40turn, 
    //   $light 0.40turn 0.45turn, 
    //   #000000 0.45turn 0.50turn, 
    //   $light 0.50turn 0.55turn, 
    //   #000000 0.55turn 0.60turn, 
    //   $light 0.60turn 0.65turn, 
    //   #000000 0.65turn 0.70turn, 
    //   $light 0.70turn 0.75turn, 
    //   #000000 0.75turn 0.80turn, 
    //   $light 0.80turn 0.85turn, 
    //   #000000 0.85turn 0.90turn, 
    //   $light 0.90turn 0.95turn,
    //   #000000 0.95turn 1.00turn
    // );
}
  /* ---------- End customizing .rotating-border ---------- */

@mixin switch($res: 'sm') {
    $index: 1rem;
    $mainVal: 1rem;
  
    @if $res == 'md' {
        $index: 2rem;
        $mainVal: 1.5rem;
    } @else if $res == 'lg' {
        $index: 3rem;
        $mainVal: 2rem;
    } @else if $res == 'xl' {
        $index: 4rem;
        $mainVal: 2.5rem;
    }

    margin-bottom: calc($index / 2); /* JUST FOR STYLING PURPOSE */

    .form-check-input {
        height: $mainVal;
        width: calc(#{$index} + 0.75rem);
        border-radius: calc($mainVal * 2);
    }
}

.form-check-input {
  clear: left;
}

// YOU CAN PUT ALL RESOLUTION HERE
// sm - DEFAULT, md, lg, xl

.form-switch.form-switch-sm {
    @include switch();
}

.form-switch.form-switch-md {
    @include switch('md');
}

.form-switch.form-switch-lg {
    @include switch('lg');
}

.form-switch.form-switch-xl {
    @include switch('xl');
}

// @mixin customZ($zindex-levels) {
//     @each $class, $value in $zindex-levels {
//         .z-#{$class} {
//             z-index: $value
//         }
//     }
// }

// @include customZ($zindex-levels);

.element.holo {
    background-image: url('../images/holo.avif');  
    //-webkit-background-clip: text;
    //-webkit-text-fill-color: transparent;
    color: $dark;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-name: different;
    background-size: 300%;
    // border-color: #fff8b9;
    background-color: #ff00ffff;
    background-blend-mode: hard-light;
}

.element.holo .holder.not-holo {
    background-color: #00000000
}

.element.holo .holder {
    background-color: #FFFA
}

.element {
    --grain: url("../images/grain.webp");
    --glitter: url("../images/glitter.png");
    --glittersize: 25%;
  
    --space: 5%;
    --angle: 133deg;
    --imgsize: cover;
  
    --red: #f80e35;
    --yellow: #eedf10;
    --green: #21e985;
    --blue: #0dbde9;
    --violet: #c929f1;

    --clip: inset( 9.85% 8% 52.85% 8% );
    --clip-invert: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 0 47.15%, 91.5% 47.15%, 91.5% 9.85%, 8% 9.85%, 8% 47.15%, 0 50%);
  
    --clip-stage: polygon(91.5% 9.85%, 57% 9.85%, 54% 12%, 17% 12%, 16% 14%, 12% 16%, 8% 16%, 8% 47.15%, 92% 47.15%);
    --clip-stage-invert: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 0 47.15%, 91.5% 47.15%, 91.5% 9.85%, 57% 9.85%, 54% 12%, 17% 12%, 16% 14%, 12% 16%, 8% 16%, 8% 47.15%, 0 50%);
  
    --clip-trainer: inset(14.5% 8.5% 48.2% 8.5%);
    --clip-borders: inset(2.8% 4% round 2.55% / 1.5%);
}
  
.shine,
.shine {
    will-change: transform, opacity, background-image, background-size,
      background-position, background-blend-mode, filter;
}

.element.rainbow .shine {
    filter: brightness(calc((var(--pointer-from-center)*0.05) + .8)) contrast(1.75) saturate(1.2);
}
  
.element.rainbow .shine:after {
    filter: brightness(calc((var(--pointer-from-center)*.4) + .85)) contrast(2) saturate(.5);
}
  
.element.rainbow .shine:before {
    background-image: 
      radial-gradient( 
        farthest-corner circle at var(--pointer-x) var(--pointer-y), 
        hsl(0, 0%, 100%) 0%, 
        hsla(0, 0%, 0%, 0) 80% 
      );
    
    mix-blend-mode: screen;
    opacity: 0.5;
}

  /*
  
    GLARE LAYERS
  
  */
  
.element.rainbow .glare {
    opacity: calc( var(--card-opacity) * .75 );
    mix-blend-mode: multiply;
    filter: brightness(1.5) contrast(1.4) saturate(1);
    background-size: 170% 170%;
}
  
  /*
  
    NO MASK
  
  */
  
.element:not(.masked).rainbow .shine,
.element:not(.masked).rainbow .shine:after {
    --mask: none;
    // --foil: url("/img/trainerbg.png"); 
    --imgsize: 20%;
    
    background-blend-mode: color-burn, hue, hard-light;
    filter: brightness(calc((var(--pointer-from-center)*0.05) + .6)) contrast(1.5) saturate(1.2);
}


@keyframes updown {
    from {
      background-position: top;
    }
  
    to {
      background-position: bottom;
    }
}

@keyframes different {
0% {
    background-position-x: left;
    background-position: bottom;
    //background-color: #ff00ffff;
}

100% {
    background-position-x: right;
    background-position: top;
    //background-color: #ff00ffff;
}
}


@keyframes roll {
	100% { transform: rotateZ(-2turn); }
}
@keyframes flip {
	25% { background-position: rotateX(0.5turn) translate(0,-8em); }
	75% { background-position: rotateX(0turn); }
}
