$utilities: (
    "z-index": (
        property: z-index,
        class: z,
        values: $zindex-levels,
    ),
    "font-size": (
      rfs: true,
      property: font-size,
      class: fs,
      values: $font-sizes
    ),
)
